.container {
    display: grid;
    grid-template-areas:
        "header header header header"
        "main main main"
        "orange-section  orange-section orange-section"
        "blog blog blog"
        "footer-main footer-main footer-main";
    grid-template-rows: auto;
    align-items: center;
    font-family: 'Gilroy-Thin', sans-serif;
    margin: 0 auto;
}

.header {
    background: #FAFAFA;
    padding-left: 80px;
    padding-right: 10px;
}

.logo {
    margin-top: 39px;
}

@font-face {
    font-family: "Gilroy-Thin";
    src: url("task3/assets/fonts/Gilroy-Thin/Gilroy-Thin.woff2"),
        url("task3/assets/fonts/Gilroy-Thin/Gilroy-Thin.woff")
}

.nav {
    display: grid;
    grid-template-columns: repeat(5, 10%);
    font-size: 18px;
    color: black;
    text-align: center;
    justify-content: center;
}

.search {
    display: grid;
    grid-template-columns: 100% 50%;
    padding-bottom: 20%;
}

.main {
    display: grid;
    background: #F1F1F2;
    grid-template-columns: 1fr;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    font-family: 'Gilroy-Thin', sans-serif;
}

.content1 {
    font-size: 56px;
    width: 50%;
}

a.link {
    background-color: #F7941E;
    border: none;
    width: 50%;
    color: white;
    padding: 20px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    font-family: 'Gilroy-Thin', sans-serif;
    border-radius: 10px;
}

p {
    font-size: 24px;
}

.content2 {
    font-size: 32px;
    width: 50%;
}

.gift-content {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr 1fr;
    gap: 3%;
    padding-top: 10px;
    padding-bottom: 30px;
    justify-content: center;
}

.card-topic {
    display: grid;
    grid-template-columns: 2fr;

}

.card__content {
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    background: #FFFFFF;
}

.card__info i {
    font-size: 0.9em;
    margin-right: 8px;
}

h1 {
    font-size: 56px;
    font-family: 'Gilroy-Thin', sans-serif;
}

h2 {
    font-size: 24px;
    text-align: center;
}

h3 {
    font-size: 32px;
    text-align: center;
}

h4 {
    font-size: 46px;
    color: white;
}

.content3 {
    text-align: center;
}

#fig1,
#fig2 {
    height: 100%;
    width: 100%;
}

.orange-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #F7941E;
    width: 100%;
    height: 240px;
    text-align: center;
}

.orange-sec1,
.orange-sec2 {
    align-self: center;
}

.blog {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.blog-content1 {
    background: black;
    color: white;
    height: 140px;
    width: 80%;
    padding-bottom: 10%;
    align-items: center;
    margin-left: 10%;
}

.blog-content1-p {
    margin-left: 30%;
    height: 20px;
    margin-top: -15%;
}

.blog-content1-title {
    margin-left: 30%;
    height: 20%20px;
}

.blog-content1-link {
    color: white;
    font-size: 20px;
    margin-left: 30%;
    height: 10px;
}

.blog-content2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #FFFFFF;
    padding-top: 5%;
    padding-bottom: 15%;
}

.blog-content-block1 {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
    Width: 70%;
    Height: 100%;
    margin-left: 10%;
}

.footer {
    background: #FAFAFA;
}

.fig7 {
    width: 400px;
    height: 370px;
}

.footer-links {
    list-style-type: none;
    font-size: 14px;
    text-align: center;
}

.footer-links li {
    display: inline;
    font-family: 'Gilroy-Thin', sans-serif;
}

.footer-bottom-social {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(5, 10%);
    justify-content: center;
}

@media (max-width: 1024px) {
    .container {
        grid-template-columns: 1fr;
    }

    .main-content {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #fig1,
    #fig2 {
        height: 100%;
        width: 100%;
    }

    .gift-content {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .card-topic {
        grid-template-columns: 1fr 1fr;
    }

    .blog {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .blog-content2 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 10px;
    }
}

@media (max-width: 480px) {
    .container {
        grid-template-columns: 1fr;
    }

    .header {
        padding-left: 10px;
        padding-right: 10px;
        gap: 10px;
    }

    .nav {
        grid-template-columns: repeat(3, 20%);
        font-size: 12px;
    }

    .main-content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    #fig1,
    #fig2 {
        height: 50%;
        width: 100%;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 28px;
        text-align: center;
    }

    h4 {
        font-size: 28px;
        color: white;
    }

    .gift-content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .card-topic {
        grid-template-columns: 1fr;
    }

    .blog {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .blog-content2 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 10px;
    }
}

@media (max-width: 409px) {
    .container {
        grid-template-columns: 1fr;
    }

    .header {
        padding-left: 10px;
        padding-right: 10px;
        gap: 10px;
    }

    .nav {
        grid-template-columns: repeat(2, 20%);
        font-size: 12px;
    }

    .main-content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    #fig1,
    #fig2 {
        height: 50%;
        width: 100%;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 28px;
        text-align: center;
    }

    h4 {
        font-size: 28px;
        color: white;
    }

    .gift-content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .card-topic {
        grid-template-columns: 1fr;
    }

    .blog {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .blog-content2 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 10px;
    }
}